/* -------------------------------------------- Início Body -------------------------------------------------- */

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin-top: 120px;
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;


} 
/* -------------------------------------------- Fim Body -------------------------------------------------- */


/* -------------------------------------------- Início Header -------------------------------------------------- */

header {
  width: 100%;
}

/* Header fixo no topo */
.fixo {
  background-color: #000000;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;

  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  z-index: 1000;

  display: flex;
  justify-content: center;   /* <<< CENTRALIZA TUDO */
  align-items: center;       /* alinha verticalmente */
  gap: 40px;                 /* espaço entre logo e menu */
}

/* Logo */
.fixo a img {
  width: 100px;
  height: 100px;
}

/* Menu centralizado */
.menu {
  display: flex;
  align-items: center;
  gap: 40px; /* espaço entre os itens */
}

.menu div a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu div img {
  width: 30px;
  height: 30px;
}

/* Links do menu */
.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  gap: 100px;
}

/* -------------------------------------------- Fim Header -------------------------------------------------- */


/* -------------------------------------------- Início Main -------------------------------------------------- */

main {
    flex: 1;
 }

.banner {
  width: 100%;
  overflow: hidden; /* impede scroll horizontal */
}

.banner img {
  width: 100%;
  height: auto;
  display: block; /* remove espaço extra causado pelo inline-block */
}

.contato {
  position: fixed;
  bottom: 20px;   /* distância do rodapé */
  right: 20px;    /* distância da lateral */
  z-index: 1500;  /* aparece acima de tudo */
  
  display: flex;
  justify-content: center;

  width: 70px;
  height: 70px;

  border-radius: 50%;          /* deixa redondo */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  
  transition: 0.3s;
}

.contato img {
  width: 70px;
  height: 70px;
 }

.contato:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.container {
  display: flex;
  background-color: #1de487;
  height: 200px;
  justify-content: center;   /* centraliza na horizontal */
  align-items: center;       /* centraliza na vertical */
  margin: 100px 100px;
}

.text1 {
  font-size: larger;
  text-align: center;
}

.cards img {
  margin: 50px 100px;
  width: 500px;
  height: 500px;
}


/* -------------------------------------------- Fim Main -------------------------------------------------- */


/* -------------------------------------------- Footer -------------------------------------------------- */

footer {
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: lightgray;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #1de487;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 0;
}

/* -------------------------------------------- Fim Footer -------------------------------------------------- */